@model IEnumerable<DoAnWebFilm.Models.ADMINFILM>

@{ ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<h2 class="text-secondary text-center p-2">Account Admin</h2>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin: auto;
    }

    th, td {
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #0cafb4;
        color: white;
    }
</style>
<table>
    <tr>
        <th>ID Admin</th>
        <th>Tên Admin</th>
        <th>MK Admin</th>
        <th colspan="2">
            <a href="@Url.Action("Create","AdminAccountAdmin")"><i class="fas fa-plus-circle text-warning fa-2x"></i></a>
        </th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.ID_ADMIN</td>
            <td>@item.TEN_ADMIN</td>
            <td>@item.MK_ADMIN</td>
            <td>
                <a href="@Url.Action("Edit","AdminAccountAdmin",new { id= @item.ID_ADMIN})"><i class="fas fa-edit text-success fa-2x"></i></a>
            </td>
            <td>
                <a href="@Url.Action("Delete","AdminAccountAdmin",new { id= @item.ID_ADMIN})"><i class="fas fa-trash-alt text-danger fa-2x"></i></a>
            </td>
        </tr>
    }
</table>
